.root {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

.dictionary {
    -fx-background-radius: 30;
    -fx-background-color: rgba(0, 224, 199, 0.7);
    -fx-background-border-color: #009394;
    -fx-effect: innershadow(gaussian, #007f72, 15, 0, 0, 0);
}

.menu-pane {
    -fx-background-color: #006270;
    -fx-effect: dropshadow(gaussian, #002d36, 5, 0, 0, 0);
    -fx-background-radius: 40;
}

.support-pane { /* efdbcb */
    -fx-background-color: #006270;
    -fx-background-radius: 42;
}

.view-pane {
    -fx-background-color: #009394;
    -fx-shape: "M 784 96
               C 864 112 752 144 816 176
               C 864 208 848 240 784 272
               Q 752 288 800 304
               Q 864 336 784 400
               Q 768 416 800 432
               C 850 464 832 496 784 512
               L 30 512
               Q 0 512 0 482
               L 0 134
               Q 0 96 30 96
               Z";
    /*-fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, #002d36, 10, 0, 0, 0); */
}

.mpane1 {
    -fx-background-color: #009394;
    -fx-shape: "M 784 96
                   C 864 112 752 144 816 176
                   C 864 208 848 240 784 272
                   Q 752 288 800 304
                   Q 864 336 784 400
                   Q 768 416 800 432
                   C 850 464 832 496 784 512
                   L 30 512
                   Q 0 512 0 482
                   L 0 134
                   Q 0 96 30 96
                   Z";
   /* -fx-background-radius: 30; */
}

.searchW-pane {
    -fx-background-color: #009394;
    -fx-shape: "M 784 96
                C 864 112 752 144 816 176
                C 864 208 848 240 784 272
                Q 752 288 800 304
                Q 864 336 784 400
                Q 768 416 800 432
                C 850 464 832 496 784 512
                L 30 512
                Q 0 512 0 482
                L 0 134
                Q 0 96 30 96
                Z";
    /* -fx-background-radius: 30; */
}

.functionalBtn {
    -fx-background-color: TRANSPARENT;
}

.search-Btn {
    -fx-background-radius: 10;
    -fx-background-color: #00939480;
}

.view-addWpane {
    -fx-background-color: #f8ECEC;
    -fx-background-radius: 25;
}

.menu-item {
    -fx-background-color: TRANSPARENT;
}

.menu-item: pressed,
.menu-item: focused {
    -fx-background-color: #009394;
    -fx-effect: dropshadow(gaussian, #00939470, 10, 0, 0, 0);
}

.searchW-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #00505080, 20, 0.5, 5, 5);
}
.searchW-textin {
    -fx-background-color: TRANSPARENT;
}

.suggestW-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, #00505080, 20, 0.5, 5, 5);
}

.explain-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 20 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, #00505080, 20, 0.5, 5, 5);
}

.suggestW-list {
    -fx-background-color: #ffffff;
    -fx-font-size: 16px;
}

.suggestW-box .scroll-bar:vertical {
    -fx-background-color: #00e0c7;
}

.suggW-alert {
    -fx-background-radius: 20;
    -fx-background-color: #edac6c90;
}

.showWsearch {
    -fx-control-inner-background: TRANSPARENT;
    -fx-border-radius: 50;
    -fx-border-width: 0;
    -fx-text-fill: #282424;
}

.showWsearch .content {
    -fx-background-color: #ffffff;
}

.alert {
    -fx-background-radius: 30;
    -fx-background-color: rgba(0, 224, 199, 0.9);
}

.keyWbox {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 20;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 10px;
    -fx-border-radius: 20 20 0 0;
    -fx-effect: dropshadow(gaussian, #00505080, 20, 0.5, 5, 5);
}

.keyWbox-Btn {
    -fx-background-color: #009394;
    -fx-background-radius: 20;
}

.addWsugg-Btn {
    -fx-background-color: #e8742c;
    -fx-background-radius: 10;
    -fx-shape: "M191.4,164.127c29.081-9.964,44.587-41.618,34.622-70.699c-9.952-29.072-41.6-44.592-70.686-34.626c-29.082,9.956-44.588,41.608-34.632,70.69C130.665,158.582,162.314,174.075,191.4,164.127z M102.394,250.767v0.01c16.706-25.815,9.316-60.286-16.484-76.986c-25.81-16.691-60.273-9.316-76.978,16.489v0.01c-16.695,25.805-9.306,60.268,16.495,76.958C51.236,283.957,85.694,276.573,102.394,250.767z M320.6,164.127c29.086,9.948,60.734-5.545,70.695-34.636c9.956-29.081-5.55-60.734-34.631-70.69c-29.086-9.966-60.734,5.555-70.686,34.626C276.013,122.509,291.519,154.163,320.6,164.127z M256,191.489c-87.976,0-185.048,121.816-156.946,208.493c27.132,83.684,111.901,49.195,156.946,49.195c45.045,0,129.813,34.489,156.945-49.195C441.048,313.305,343.976,191.489,256,191.489z M503.068,190.289v-0.01c-16.705-25.805-51.166-33.18-76.976-16.489c-25.801,16.7-33.19,51.171-16.486,76.986v-0.01c16.7,25.806,51.158,33.19,76.968,16.481C512.374,250.557,519.764,216.095,503.068,190.289z";
    -fx-effect: dropshadow(gaussian, #00505080, 10, 0.5, 5, 5);
}

.translate-box {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, #00505080, 20, 0.5, 5, 5);
}

.translate-stateLabel {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
}

.translate-textContainer {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
}

.translate-buttonBar {
    -fx-background-color: #00e0c7;
    -fx-background-radius: 20;
}

.translate-functionalBtn {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 20;
}

.translate-functionalBtn: pressed, focused {
    -fx-effect: dropshadow(gaussian, #00000010, 5, 5, 0, 0);
}

.translateBtn {
    -fx-background-radius: 20;
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 1.5;
    -fx-border-radius: 20;
    -fx-border-color: #000000;
}

.translateBtn: pressed, focused {
    -fx-effect: dropshadow(gaussian, #00000010, 5, 5, 0, 0);
}

.game-container {
    -fx-background-radius: 20;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #00000020, 3, 5, 7, 7);
}

.chooseGameBtn {
    -fx-font-weight: bold;
    -fx-text-color: #ffffff;
    -fx-font-size: 20px;
}

.gameDes {
    -fx-background-color: #00e0c790;
    -fx-background-radius: 20;
    -fx-border-width: 2px;
    -fx-border-radius: 19;
    -fx-border-color: #666666;
}


.icon {
    -fx-background-color: TRANSPARENT;
}

.icon:hover {
    -fx-opacity: 0.7;
}

.icon:pressed {
    -fx-opacity: 0.5;
}